.application {
  position: relative;
  padding: 79px 0;
  background-image: url("../img/applicationBg.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

.applicationForm {
  display: flex;
  flex-basis: 495px;
  flex-direction: column;
  row-gap: 20px;
  border: 1px solid #e5e8ed;
  border-radius: 4px;
  padding: 48px 40px;
  box-shadow:
    0 60px 80px -20px rgb(30 33 44 / 16%),
    0 26px 24px -10px rgb(30 33 44 / 10%),
    0 12px 10px -6px rgb(30 33 44 / 8%),
    0 4px 4px -4px rgb(30 33 44 / 5%);
  background-color: var(--color-white);

  &__heading {
    margin-bottom: 4px;
  }

  &__btn {
    align-self: center;
    margin-top: 2px;
  }
}
