.checkbox {
  position: relative;
  display: flex;
  column-gap: 12px;
  cursor: pointer;

  &__icon {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-grey-500);
    border-radius: 3px;
    padding: 4px 3px;
    background-color: var(--color-white);
    transform: translate(-1px, 2px);
    transition: background-color 0.15s ease;
  }

  &__mark {
    fill: var(--color-white);
    opacity: 0;
    transition: opacity 0.15s ease;
  }
}

.applicationFormCheckboxBasic {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 0;
  height: 0;
  opacity: 0;
}

.applicationFormCheckboxBasic:checked + .checkbox__icon {
  border: none;
  background-color: var(--color-primary);
}

.applicationFormCheckboxBasic:checked + .checkbox__icon .checkbox__mark {
  z-index: 10;
  opacity: 1;
}

.applicationFormCheckboxBasic:focus + .checkbox__icon {
  outline: none;
}

.applicationFormCheckboxBasic:focus-visible + .checkbox__icon {
  outline: 2px solid rgb(255 90 48 / 80%);
  box-shadow:
    0 80px 80px -20px rgb(255 90 48 / 8%),
    0 30px 24px -10px rgb(255 90 48 / 5%),
    0 12px 10px -6px rgb(255 90 48 / 4%),
    0 4px 4px -4px rgb(30 33 44 / 3%);
  background-color: var(--color-grey-200);
}

.applicationFormCheckboxBasic:checked:focus-visible + .checkbox__icon {
  outline: 2px solid rgb(255 90 48 / 65%);
  outline-offset: 1px;
  box-shadow:
    0 80px 80px -20px rgb(255 90 48 / 8%),
    0 30px 24px -10px rgb(255 90 48 / 5%),
    0 12px 10px -6px rgb(255 90 48 / 4%),
    0 4px 4px -4px rgb(30 33 44 / 3%);
  background-color: var(--color-primary);
}
