.facts {
  padding: 181px 0 60px;

  &__heading {
    margin-bottom: 60px;
  }
}

.progressList {
  display: flex;
  column-gap: 48px;
  justify-content: center;
}

.progressBlock {
  display: flex;
  flex: 0 0 148px;
  flex-direction: column;
  row-gap: 21px;

  &__value {
    padding: 50px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: var(--color_grey_900);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    &_clients {
      background-image: url("../img/circle1.png");
    }

    &_experience {
      background-image: url("../img/circle2.png");
    }

    &_hours {
      background-image: url("../img/circle3.png");
    }

    &_projects {
      background-image: url("../img/circle4.png");
    }
  }
}
