.page-heading {
  --main-title-color: var(--color-grey-900);
  --main-title-color-home: var(--color-white);

  font-weight: 700;
  font-size: 72px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-title-color);

  &--home {
    color: var(--main-title-color-home);
  }

  &--marked {
    color: var(--color-primary);
  }
}

.heading {
  --heading-main-color: var(--color-grey-900);
  --heading-bright-grey-color: var(--color-grey-800);
  --heading-medium-grey-color: var(--color-grey-700);
  --heading-dusty-grey-color: var(--color-grey-600);
  --heading-light-color: var(--color-white);
  --heading-burning-orange-color: var(--color-primary);

  font-weight: 700;
  font-size: 46px;
  line-height: 1.5;
  color: var(--heading-main-color);

  &--fz32 {
    font-size: 32px;
  }

  &--fz28 {
    font-size: 28px;
  }

  &--fz24 {
    font-size: 24px;
  }

  &--fz20 {
    font-size: 20px;
  }

  &--fz18 {
    font-size: 18px;
  }

  &--fz16 {
    font-size: 16px;
  }

  &--tall {
    line-height: 1.6;
  }

  &--low-heigh {
    line-height: 1.3;
  }

  &--center {
    text-align: center;
  }
}
