.pageHeading {
  --color: var(--color_grey_900);

  font-weight: 700;
  font-size: 72px;
  line-height: 1.3;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color);

  &_home {
    --color: var(--color-white);
  }

  &_marked {
    --color: var(--color-primary);
  }
}

.heading {
  --size: 46px;
  --line-height: 150%;
  --color: var(--color_grey_900);

  font-weight: 700;
  font-size: var(--size);
  line-height: var(--line-height);
  color: var(--color);

  &_center {
    text-align: center;
  }

  &_fz32 {
    --size: 32px;
  }

  &_fz28 {
    --size: 28px;
  }

  &_fz24 {
    --size: 24px;
  }

  &_fz20 {
    --size: 20px;
  }

  &_fz18 {
    --size: 18px;
  }

  &_fz16 {
    --size: 16px;
  }

  &_tall {
    --line-height: 160%;
  }

  &_lowHeight {
    --line-height: 130%;
  }

  &_light {
    --color: var(--color-white);
  }

  &_light_transparent {
    color: rgba(255 255 255 / 60%);
  }

  &_grey600 {
    color: var(--color-grey-600);
  }
}
