.hero {
  --content-width: 596px;
  --title-mb: 24px;

  padding: 220px 0 353px;
  background-image: url("@img/hero-home-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #808080;

  &__content {
    position: relative;
    max-width: var(--content-width);
  }

  &__title {
    margin-bottom: var(--title-mb);

    &_secondary {
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      color: var(--color_grey_900);
    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    align-items: center;
    margin-top: 61px;
  }

  &__decorImg {
    position: absolute;
    top: 48px;
    right: -9px;
  }

  &_services {
    padding: 153px 0 179px;
    background-image: url("../img/hero_services.jpg");
  }

  &_currentService {
    padding: 153px 0 115px;
    background-image: url("../img/hero_currentService.jpg");
  }

  &_portfolio {
    padding: 153px 0 179px;
    background-image: url("../img/hero_portfoliojpg.jpg");
  }

  &_project {
    --title-mb: 60px;

    position: relative;
    padding: 153px 0 100px;
    background-image: none;
    background-color: var(--color-white);
  }

  &_about {
    padding-top: 153px;
    padding-bottom: 179px;
    background-image: url("@img/hero_about.jpg");
  }

  &_jobOffer {
    padding: 153px 0 145px;
    background-image: url("@img/hero_jobOffer.svg");
  }

  &_news {
    padding: 153px 0 239px;
    background-image: url("@img/hero_news.jpg");
  }

  &_post {
    --content-width: none;
    --title-mb: 48px;

    padding: 153px 0 159px;
    background-image: none;
    background-color: var(--color-grey-200);

    .metaInfo__item:first-child {
      font-weight: 700;
    }
  }
}
