.logo {
  --color: var(--color_grey_900);
  --focus-color: var(--color_grey_900);

  width: 132px;
  height: 22px;
  transition: transform 0.2s ease, outline 0.05s linear;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--focus-color);
    outline-offset: 2px;
    border-radius: 1px;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__icon {
    width: 100%;
    height: 100%;
    fill: var(--color);
    object-fit: cover;
  }

  &_light {
    --color: var(--color-white);
    --focus-color: rgb(255 255 255 / 85%);

    width: 142px;
    height: 24px;
  }
}
