.logo {
  width: 130px;
  height: 20px;
  outline-color: var(--color-grey-900);
  transition: transform 0.2s ease;

  &__img {
    object-fit: cover;
    object-position: center;
  }

  &:hover {
    transform: scale(1.1);
  }
}
