.menu {
  &__list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
  }

  &__item {
    transition: transform 0.15s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.15);
    }
  }

  &__link {
    &:focus {
      outline: none;
      border: none;
    }

    &:focus-visible {
      outline: 3px solid rgba($color: #1e212c, $alpha: 80%);
      outline-offset: 1px;
      border-radius: 1px;
    }
  }
}
