.menu {
  &__list {
    display: flex;
    column-gap: 40px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
  }

  &__item {
    transition: transform 0.1s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__link {
    transition: outline 0.05s linear;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var(--color_grey_900);
      border-radius: 1px;
    }
  }
}
