.mission {
  --activityListOffset: 27px;

  padding-top: var(--section-offset);
  background-color: var(--color-white);

  &__heading {
    margin-bottom: 24px;
  }

  &__textDescr {
    margin-bottom: 60px;
  }

  &__activityList {
    margin-bottom: var(--activityListOffset);
  }

  &__form {
    position: relative;
    top: 93px;
    border-radius: 4px;
    padding: 48px 60px;
    box-shadow: var(--main-shadow);
    background-color: var(--color-white);
  }

  &__formTitle {
    margin-bottom: 32px;
  }

  &__formActions {
    display: flex;
    column-gap: 24px;
    align-items: flex-end;
  }

  &__formField {
    flex-basis: 260px;

    &_message {
      flex-grow: 1;
      filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
    }
  }

  &__btn {
    position: relative;
    top: 26px;
    z-index: 1;
    display: block;
    margin: 0 auto;
    padding: 0 112px;
  }

  &_page_currentService {
    --activityListOffset: 74px;

    padding-top: 81px;
    background-color: var(--color_grey_900);
  }
}
