.portfolio {
  padding: 121px 0;
  background-color: var(--color-white);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  &__heading {
    grid-column: 7 span;
    margin-bottom: 59px;
  }

  &__projectSlider {
    grid-column: 12 span;
  }

  &__moreInfo {
    grid-column: 12 span;
    margin-top: 80px;
  }

  &_currentService {
    padding: 181px 0 100px;
  }
}
