.services {
  padding: 208px 0 80px;
  background-image: url("@img/bg/serv-sec-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__heading {
    margin-bottom: 19px;
  }

  &__text-descr {
    margin-bottom: 60px;
  }

  &__more-info {
    margin: 77px auto 0;
  }
}
