.slider-nav {
  display: flex;
}

.slider-nav-btn {
  --slider-arrow-color: var(--color-grey-800);
  --slider-arrow-hover-color: var(--color-white);
  --btn-hover-bg-color: var(--color-primary);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: transparent;
  transition: outline 0.1s linear;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 100%;
    background-color: var(--color-primary);
    opacity: 0;
    transition: opacity 0.15s linear;
  }

  &__icon {
    z-index: 2;
    width: 18px;
    height: 11px;
    fill: var(--slider-arrow-color);
    transition: fill 0.15s linear;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid rgba($color: #1e212c, $alpha: 95%);
    outline-offset: 1px;
  }

  &:hover,
  &:focus-visible {
    &::before {
      opacity: 1;
    }

    .slider-nav-btn__icon {
      fill: var(--slider-arrow-hover-color);
    }
  }

  &--light {
    background-color: rgba($color: #fff, $alpha: 50%);

    &:hover {
      background-color: var(--color-white);

      .slider-nav-btn__icon {
        fill: var(--color-grey-800);
      }
    }
  }
}
