.testimonials {
  padding: 112px 0 0;
  background-color: var(--color-grey-200);

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
    justify-items: end;
  }

  &__content {
    grid-column: 6 span;
  }

  &__heading {
    margin-bottom: 55px;
  }

  &__slider {
    position: relative;
  }

  &__slider-nav {
    position: absolute;
    right: -12px;
    bottom: -11px;
  }

  &__logo {
    grid-column: 6 span;
    margin-bottom: -60px;

    img {
      margin-top: 4px;
    }
  }
}

.feedback-block {
  &__profile-photo {
    width: 72px;
    height: 72px;
    margin-bottom: 22px;
  }

  &__text {
    margin-bottom: 25px;
  }
}

.profile-photo {
  position: relative;
  border-radius: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    &::before {
      outline: 3px solid rgba($color: #1e212c, $alpha: 85%);
      outline-offset: 1px;
    }
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-right: 140px;
}