.main-descr {
  --descr-main-color: var(--color-grey-700);
  --descr-light-color: var(--color-white);

  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--descr-main-color);

  &--home {
    color: var(--descr-light-color);
  }
}

.text-descr {
  --text-dusty-grey-color: var(--color-grey-600);
  --text-main-color: var(--color-grey-700);
  --text-bright-grey-color: var(--color-grey-800);
  --text-dark-color: var(--color-grey-900);
  --text-light-color: var(--color-white);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-main-color);

  &--large {
    font-size: 18px;
  }

  &--small {
    font-size: 14px;
  }

  &--tiny {
    font-size: 12px;
  }

  &--tall {
    line-height: 1.6;
  }

  &--center {
    text-align: center;
  }

  &--light {
    color: var(--text-light-color);
  }

  &--dusty-grey {
    color: var(--text-dusty-grey-color);
  }

  &--dark-color {
    color: var(--text-dark-color);
  }

  &--bright-grey {
    color: var(--text-bright-grey-color);
  }
}
