.works {
  padding-bottom: 100px;
  background-color: var(--color-white);

  &__tabsList {
    position: relative;
    top: -59px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
    justify-content: center;
    margin-bottom: 61px;
  }

  &__tabsItem {
    flex: 0 1 230px;
  }

  &__projectsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
  }
}

.worksTab {
  --icon-fill-color: var(--color-primary);
  --tab-bg-color: var(--color-white);
  --tab-heading-color: var(--color-grey-600);

  display: flex;
  flex-direction: column;
  row-gap: 16px;
  align-items: center;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 32px 0;
  box-shadow: var(--main-shadow);
  background-color: var(--tab-bg-color);
  transition: background-color 0.18s ease-in-out, outline 0.05s linear;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --tab-heading-color: var(--color_grey_900);

    outline: 2px solid var(--color_grey_900);
  }

  &:hover {
    --tab-heading-color: var(--color_grey_900);
  }

  &__icon {
    width: 48px;
    height: 48px;
    fill: var(--icon-fill-color);
    transition: fill 0.18s ease-in-out;
  }

  &__heading {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: var(--tab-heading-color);
    transition: color 0.18s ease-in-out;
  }

  &_active {
    --tab-bg-color: var(--color-primary);
    --icon-fill-color: var(--color-white);
    --tab-heading-color: var(--color-white);
  }
}

.btnLoadMore {
  display: flex;
  column-gap: 16px;
  align-items: center;
  margin: 0 auto;
  color: var(--color-grey-800);
  background-color: transparent;
  transition: color 0.18s ease-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color_grey_900);
    outline-offset: 1px;
    border-radius: 1px;
  }

  &:hover {
    color: var(--color_grey_900);
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: inherit;
    fill: currentcolor;
    opacity: 0.9;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
  }
}
