.footerForm {
  &__heading {
    margin-bottom: 24px;
  }

  &__group {
    display: flex;
    align-items: stretch;
    margin-bottom: 13px;
  }

  &__input {
    flex: 1 1 auto;
    border-right-width: 0;
    border-radius: 4px 0 0 4px;
  }

  &__btn {
    border-left-width: 0;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
    line-height: 3.1428;
    transition:
      outline 0.05s ease,
      background-color 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--color-white);
      outline-offset: -3px;
      background-color: var(--color-primary-in-state);
    }
  }
}
