.menuSecondary {
  display: flex;
  column-gap: 124px;
  padding-left: 55px;

  &__heading {
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__link {
    transition: outline 0.05s ease, color 0.17s ease-in-out;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid rgb(255 255 255 / 85%);
      outline-offset: 1px;
      border-radius: 1px;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}
